
.spaceDiv{
  height: 5vh;
}

.weatherDiv{
  align-self: left;
  font-family: sans-serif;
}

.weatherWrapperDiv{
  margin: 2vh;
}

.weatherBtn{
  margin-left: 5px;
  box-shadow: 2px 2px;
}

.weatherDiv > label{
  display: block;
  margin-top: 1vh;
}

.searchBar{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 1px center;
  padding-left: 15px;
  border-radius: 15px;
}
